<% include head.ejs %>
<body>
	<header>
		<a href="/"><h1>Slopende burgemeesters van Amsterdam</h1></a>
		<input id="userInput" type="text" name="" value="" placeholder="Zoek een burgemeester...">
	</header>

	<main id="images">
		<%_ for (i = 0; i < rows.length; ++i) { %>
			<div class="<%= rows[i].name.value.slice(-4) _%>">
				<h3><%= rows[i].name.value _%></h3>
				<p>Functie periode: <%= Number(rows[i].start.value.slice(0, 4)) _%> - <%= Number(rows[i].end.value.slice(0, 4)) _%></p>
				<img src="<%= rows[i].image.value _%>" alt="">
				<ul>
					<%_ for (x = 0; x < streetRows.length; ++x) { %>
					  <%_ var gesloopt = Number(streetRows[x].end.value) _%>
					  <%_ if (gesloopt > Number(rows[i].start.value.slice(0, 4)) && gesloopt < Number(rows[i].end.value.slice(0, 4))) { %>
					  <li class="<%= rows[i].name.value.slice(-4) _%>"><%= streetRows[x].label.value _%> gesloopt in <%= streetRows[x].end.value _%></li>
					  <% } _%>
					<% } _%>
				</ul>
			</div>
		<% } _%>
	</main>

	<a id="naarVis" href="/visualisatie">Visualisatie</a>
	<% include offline.ejs %>
	<script src="/js/bundle.js"></script>
	<script>
		if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/sw.js');
		}
	</script>
</body>
</html>
