<% include head.ejs %>
<body>
	<header>
		<h1>Slopende burgemeesters van Amsterdam</h1>
		<input id="userInput" type="text" name="" value="" placeholder="Zoek een burgemeester...">
	</header>

	<main id="images">
		<% for (i = 0; i < rows.length; ++i) { %>
			<div class="<%= rows[i].name.value.slice(-4) %>">
				<h3><%= rows[i].name.value %></h3>
				<p>Functie periode: <%= Number(rows[i].start.value.slice(0, 4)) %> - <%= Number(rows[i].end.value.slice(0, 4)) %></p>
				<img src="<%= rows[i].image.value %>" alt="">
				<ul>
					<% for (x = 0; x < streetRows.length; ++x) { %>
					  <% var gesloopt = Number(streetRows[x].end.value) %>
					  <% if (gesloopt > Number(rows[i].start.value.slice(0, 4)) && gesloopt < Number(rows[i].end.value.slice(0, 4))) { %>
					  <li class="<%= rows[i].name.value.slice(-4) %>"><%= streetRows[x].label.value %> gesloopt in <%= streetRows[x].end.value %></li>
					  <% } %>
					<% } %>
				</ul>
			</div>
		<% } %>
	</main>

	<a id="naarVis" href="visualisatie.html">Visualisatie</a>
	<script src="/js/minifiedbundle.js"></script>
</body>
</html>
